body {
    background-image: url(https://static.smuckersrms.com/PhotoImage.ashx?recipeid=8605&w=600&h=600);
    background-size:cover;
    font-family: 'Catamaran', sans-serif;
}

.cart {
    background-color: white;
    color: blue;
}

.cart-details {
    display: flex;
    justify-content: space-around;
}


.table-head,
.item {
    display: flex;
    justify-content: space-between;
}

.order,
h1 {
    text-align: center;
    color: white;
    text-shadow:0 0 3px black;
}

button {
    font-size: 15px;
    color: blue;
    border: 3px solid blue;
    padding: 5px;
    border-radius: 100%;
    width:100px;
    height:100px;
}

.itemName {
    font-size: 15px;
}

.itemPrice {
    font-size: 15px;
}

.itemImg {
    font-size: 15px;
}

p {
    font-size: 20px;
    font-family: 'Cuprum', sans-serif;
}

img {
    width: 150px;
    height: 150px;
}