body {
    background-color: lightblue;
}

.cart {
    background-color: white;
    color: blue;
}

.cart-details {
    display: flex;
    justify-content: space-around;
}


.table-head,
.item {
    display: flex;
    justify-content: space-between;
}

.order,
h1 {
    text-align: center;
    color: blue;
}

.add {
    font-size: 15px;
    color: blue;
}

.check {
    font-size: 15px;
    color: blue;
}

.itemName {
    font-size: 15px;
}

.itemPrice {
    font-size: 15px;
}

.itemImg {
    font-size: 15px;
}

p {
    font-size: 18px;
}

img {
    width: 150px;
    height: 150px;
}